<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Template - {% block title %}{% endblock %}
    </title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/user/info">My info</a>
    <a href="/favorite/sports">My favorite_sport</a>
    <a href="/favorite/foods">My favorite_food</a>
    <a href="/favorite/movie">My favorite_movie</a>
- {% block content %}{% endblock %}

</body>
</html>
